main {
  position: relative;
}
main::before {
  content: "";
  background-image: url('../img/tree.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -2;
}